doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title home
  body 
    h1 Hello
      form(action="/create", method="post") 
        input(type="text", name="todoid")
        input(type="text", name="content")
        button create
    -for(todo of todos)
      li
        span #{todo.todoid} / 
        span #{todo.content}
        form(action="/delete?_method=DELETE", method="post") 
          input(style="display:none", value=todo.todoid, name="todoid")
          button delete
        form(action=`/todoid/${todo.todoid}?_method=PUT`, method="post") 
          input(value=todo.content, name="content")
          button change